body {
  background-color: #494848;
}

.point-cursor {
  cursor: pointer;
}
.new-line {
  white-space: pre-line;
}
.tr-data:hover {
  color: #bdbdbd;
}
.red-asterisk {
  color: red;
}
.pre-wrap {
  white-space: pre-wrap;
  line-height: 1.6rem;
}
.dark-scroll-bar {
  scrollbar-color: #757575 #424242;
}
